@import "../../../../../assets/responsive";

.student-dashboard {
    .student-dashboard-container {
        background-color: #f5f5f5;
        .student-dashboard-row {
            .student-dashboard-profile {
                background-color: #fff;
                padding: 15px 15px 0;
            }
            .student-dashboard-about {
                padding: 15px 45px;
                @include mobile {
                    padding: 15px;
                }
                .about-me-card {
                    background-color: #fff;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    .about-me-text {
                        margin-bottom: 0;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    .cam-icon {
                        margin-bottom: 0;
                        font-size: 20px;
                        color: #ccc;
                    }
                }
                .show-me-card {
                    background-color: #3150cb;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    .show-me-text {
                        color: #fff;
                        font-size: 12px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                        width: 10%;
                        text-align: center;
                    }
                    ul {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        margin-bottom: 0;
                        li {
                            width: 25%;
                            background-color: #637ef7;
                            padding: 10px;
                            display: flex;
                            margin: 0 5px;
                            align-items: center;
                            &:nth-child(1) {
                                background-color: #2461e4;
                            }
                            i {
                                margin-right: 10px;
                                color: #fff;
                            }
                            p {
                                margin-bottom: 0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                font-size: 12px;
                                text-transform: uppercase;
                                color: #fff;
                            }
                        }
                    }
                }
                .see-all {
                    text-align: end;
                    p {
                        color: #3150cb;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                .favourite-university-card {
                    display: flex;
                    margin-bottom: 10px;
                    @include mobile {
                        flex-wrap: wrap;
                    }
                    .fav-card-block {
                        max-width: 300px;
                        margin-bottom: 10px;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                        @include mobile {
                            max-width: 100%;
                            margin-right: 0px;
                        }
                    }
                }
                .interested-universities {
                    .interested-text {
                        p {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }
                    .interested-universities-block {
                        display: flex;
                        margin-bottom: 15px;
                        @include mobile {
                            flex-wrap: wrap;
                        }
                        .alternate-universities {
                            max-width: 250px;
                            margin-bottom: 10px;
                            margin-right: 10px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .universities-list {
                    .universities-list-header {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .universities-list {
                            margin-bottom: 0;
                            font-size: 20px;
                        }
                        button {
                            border: none;
                            background-color: orange;
                            color: #fff;
                            font-size: 14px;
                            padding: 5px 10px;
                        }
                    }
                    .university-table {
                        background-color: #fff;
                        table {
                            thead {
                                th {
                                    background-color: #637ef7;
                                    border: none;
                                    color: #fff;
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    /****** Student Profile Styles ********/
    .student-profile {
        height: 100%;
        .student-overall-details {
            height: 100%;
            position: relative;
            .student-info {
                .student-image {
                    height: 120px;
                    width: 120px;
                    margin: auto;
                    img {
                        border-radius: 50%;
                        height: 100%;
                        width: 100%;
                    }
                }
                .student-name {
                    text-align: center;
                    h4 {
                        font-size: 18px;
                        margin-top: 1rem;
                    }
                }
            }
            .profile-progress-bar {
                .profile-text {
                    display: flex;
                    justify-content: space-between;
                    p {
                    color: #3150cb;
                    font-size: 14px;
                    margin-bottom: 5px;
                    font-weight: 700;
                    }
                }
            }
            .profile-btns {
                margin-top: 100px;
                @include mobile {
                    margin-top: 0;
                }
                .views {
                    margin: 10px 0;
                    button {
                        padding: 3px 10px;
                        background-color: #28a745;
                        color: #fff;
                        font-size: 14px;
                        border: none;
                    }
                }
                .edit-profile {
                    margin: 10px 0;
                }
            }
            .progress {
                height: 0.5rem !important;
            }
        }
    }
    /********** End Of student profile styles **********/  
}
