<div class="student-dashboard">
  <div class="container-fluid student-dashboard-container">
    <div class="row student-dashboard-row">
      <div class="col-md-2 student-dashboard-profile">
        <div class="student-profile">
          <div class="student-overall-details">
            <div class="student-info">
              <div class="student-image">
                <img src="assets/images/pro.jfif" alt="">
              </div>
              <div class="student-name">
                <h4>Rupert Grint</h4>
              </div>
            </div>
            <div class="student-detailed-info">
              <ul>
                <li>Qualification:</li>
                <li>Area of interest</li>
                <li>Preferred Country:</li>
                <li>Preferred Intake</li>
                <li>Dream University:</li>
                <li>Verified:</li>
              </ul>
            </div>
            <div class="profile-progress-bar">
              <div class="profile-text">
                <p>Profile Completeness(Good)</p>
                <p>70%</p>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;"  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 student-dashboard-about">
        <div class="about-me-card">
          <p class="about-me-text">about me</p>
          <p class="cam-icon"><i class="fa fa-camera"></i></p>
        </div>
        <div class="show-me-card">
          <p class="show-me-text">show me</p>
          <ul>
            <li><i class="fa fa-file-text"></i> <p>articles</p></li>
            <li><i class="fa fa-calendar"></i><p>events <span><i class="fa fa-check"></i></span></p></li>
            <li><i class="fa fa-suitcase"></i><p>jobs <span><i class="fa fa-check"></i></span></p></li>
            <li><i class="fa fa-user-circle"></i><p>connections <span><i class="fa fa-check"></i></span></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p>
  <button (click)="onNavigateToUniversityList()">View All</button>
</p> -->
