<div class="student-dashboard">
  <div class="container-fluid student-dashboard-container">
    <div class="row student-dashboard-row">
      <div class="col-md-2 student-dashboard-profile">
        <div class="student-profile">
          <div class="student-overall-details">
            <div class="student-info">
              <div class="student-image">
                <img src="assets/images/pro.jfif" alt="">
              </div>
              <div class="student-name">
                <h4>Rupert Grint</h4>
                <small>Student</small>
              </div>
            </div>
            <div class="student-detailed-info d-none">
              <ul>
                <li>Qualification :</li>
                <li>Area of interest :</li>
                <li>Preferred Country :</li>
                <li>Preferred Intake :</li>
                <li>Dream University :</li>
                <li>Verified :</li>
              </ul>
            </div>
            <div class="side-bar-btns">
              <div class="follow-btn">
                <span>Follow</span>
                <i class="fa fa-angle-down"></i>
              </div>
              <div class="mail-btn">
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="bit-btn">
                <i class="fa fa-btc"></i>
              </div>
            </div>
            <div class="about-me">
              <div class="about-me-header">
                <p> <span>About me</span> <i class="fa fa-edit"></i></p>
              </div>
              <div class="about-body">
                <p>
                  Hi, I'm Rupert Grint. I know my name is a bit long, but the reason I put the full name here is
                  that it will take a long space to fit this text perfectly here.
                </p>
              </div>
            </div>
            <div class="actvities">
              <div class="actvities-header">
                <p> <span>Activities</span></p>
              </div>
              <div class="activities-list">
                <ul>
                  <li><span class="activities-icon-bg"><i class="fa fa-file-text-o"></i></span> <span>News Feed</span><span class="indicator"></span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-users"></i></span> <span>Group</span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-graduation-cap"></i></span> <span>Courses</span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-calendar"></i></span> <span>Event</span><span class="indicator"></span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-briefcase"></i></span> <span>Jobs</span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-bars"></i></span> <span>Gigs</span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-cart-plus"></i></span> <span>Marketplace</span><span class="indicator"></span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-weixin"></i></span> <span>Blogs</span></li>
                  <li><span class="activities-icon-bg"><i class="fa fa-comments-o"></i></span> <span>Forums</span></li>
                </ul>
              </div>
            </div>
            <div class="profile-btns d-none">
              <div class="views">
                <button>Views</button>
              </div>
              <div class="edit-profile">
                <button (click)="onNavigateToProfile()">Edit Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 student-dashboard-about">
        <div class="profile-progress-bar">
          <div class="profile-text">
            <p>Profile Completeness(Good)</p>
            <p>70%</p>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%;"  aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="about-me-card">
          <p class="about-me-text">about me</p>
          <p class="cam-icon"><i class="fa fa-camera"></i></p>
        </div>
        <div class="show-me-card">
          <p class="show-me-text">show me</p>
          <ul>
            <li>
              <i class="fa fa-calendar"></i>
              <select class="form-control" id="sel1">
                <option>India</option>
                <option>UK</option>
              </select>
            </li>
            <li><i class="fa fa-globe"></i>
              <select class="form-control" id="sel1">
                <option>India</option>
                <option>UK</option>
              </select>
            </li>
            <li><i class="fa fa-user-book"></i>
              <select class="form-control" id="sel1">
                <option>MBA</option>
                <option>Finance</option>
              </select>
            </li>
          </ul>
        </div>
        <div class="see-all">
          <p>See all</p>
        </div>
        <!-- <carousel>
          <app-favourite-universities></app-favourite-universities>
        </carousel> -->
        <div class="favourite-university-card">
          <div class="fav-card-block">
            <app-favourite-universities></app-favourite-universities>
          </div>
          <div class="fav-card-block">
            <app-favourite-universities></app-favourite-universities>
          </div>
          <div class="fav-card-block">
            <app-favourite-universities></app-favourite-universities>
          </div>
          <div class="fav-card-block">
            <app-favourite-universities></app-favourite-universities>
          </div>
        </div>
        <div class="interested-universities">
          <div class="interested-text">
            <p>Universities Interested In You</p>
          </div>
          <div class="interested-universities-block">
            <div class="alternate-universities">
              <app-interested-universities></app-interested-universities>
            </div>
            <div class="alternate-universities">
              <app-interested-universities></app-interested-universities>
            </div>
            <div class="alternate-universities">
              <app-interested-universities></app-interested-universities>
            </div>
            <div class="alternate-universities">
              <app-interested-universities></app-interested-universities>
            </div>
            <div class="alternate-universities">
              <app-interested-universities></app-interested-universities>
            </div>
          </div>
        </div>
        <div class="universities-list">
          <div class="universities-list-header">
            <p class="universities-list">My University List</p>
            <button (click)="onNavigateToUniversityList()">View All</button>
          </div>
          <div class="university-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">My Rank</th>
                  <th scope="col">University Name</th>
                  <th scope="col">Campus</th>
                  <th scope="col">Costs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><img src="../../../../../assets/images/coventry.png" alt=""> <span>Conventry</span></td>
                  <td>Niagara</td>
                  <td><p>CAD 31768/Year</p></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img src="../../../../../assets/images/coventry.png" alt=""> <span>Conventry</span></td>
                  <td>Niagara</td>
                  <td><p>CAD 31768/Year</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
