<!--top header-->
<header>
  <!--most top info -->

  <!-- End most top info -->

  <nav
    class="navbar navbar-expand-lg navbar-light top-navbar"
    data-toggle="sticky-onscroll"
  >
    <div class="container header-container">
      <a class="navbar-brand header-logo" href="#">
        <img src="./assets/images/web-logo.png" />
        <p class="logo-text">edmium</p>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="counsellor/search-program"
            >
              Counsellor</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="university/dashboard"
            >
              University</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="student/dashboard"
            >
              My Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="student/universities"
              >Universities/Majors</a
            >
          </li>
          <!--  <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="student/dashboard"
              >Manage Applications</a
            >
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:void(0)"
              routerLink="student/scholarhips"
              >Scholarships</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              href="javascript:void(0)"
              routerLink="register"
              >Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signin" href="#">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End top header-->
