<div [ngStyle]="{ backgroundImage: 'url(./assets/images/search_counselor.jpg)' }">
  <div id="course"> 
    <div id="bgimg">
    
      <div class="container">
        
        <h2 class="text-center pt-5">Explore Over 55,000 Courses</h2>
        <p class="text-center mt-3">Use our Course Finder to Search </p>
        
        <div class="row mt-4">
          <div class="col-md-1"></div>
          <div class="col-md-3">
          <select class="form-control" id="sel1" name="sellist1">
            <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="col-md-3">
          <select class="form-control" id="sel1" name="sellist1">
            <option>Select</option>
  
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
          <div class="col-md-3">
            <select class="form-control" id="sel1" name="sellist1">
              <option>Select</option>
  
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Submit</button>
          </div>
        </div>
  
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-danger pl-3 pr-3"><i class="fa fa-search-plus"></i> Advanced Search</button>
        </div>
  
      </div>
      
    </div>
  </div>
  </div>
  <br>
   
  <div class="container-fluid">
  
    <div class="row" id="colp">
      
      <div class="col-md-3" >
              
                  
        <div class="bg-light border-right" id="sidebar-wrapper  " >
          <!--university-->
          <div class="sidebar-heading text-center">
              <button class="btn btn-primary btn-block" >University</button> 
          </div>
  
          <div class="list-group ">
                  <div class="checkbox">
                      <label class="list-group-item"><input type="checkbox" value=""> Monash University</label>
                  </div>
                  <div class="checkbox">
                      <label class="list-group-item"><input type="checkbox" value=""> University of Adelaide</label>
                  </div>
                  <div class="checkbox">
                      <label class="list-group-item"><input type="checkbox" value="" > Queensland University of Technology</label>
                  </div>
          </div>
          <!--university-->
          <!--fee-->
        <div class="sidebar-heading text-center">
              <button class="btn btn-danger btn-block" >Programe Level</button>
          </div>
  
          <div class="list-group ">
                  <div class="checkbox">
                      <label class="list-group-item"><input type="checkbox" value=""> Post Graduation</label>
                  </div>
                  <div class="checkbox">
                      <label class="list-group-item"><input type="checkbox" value=""> Graduation</label>
                  </div>
                 
          </div>
          <!--fee-->
  
          <!--fee-->
        <div class="sidebar-heading text-center">
          <button class="btn btn-primary btn-block" >Fees</button> 
        </div>
  
        <div class="list-group ">
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value=""> 1,000 - 5,000 EUR/Year</label>
          </div>
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value=""> 5,000 - 10,000 EUR/Year</label>
           </div>
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value="" > 10,000 - 20,000 EUR/Year</label>
          </div>
  </div>
        <!--fee-->
  
  
        </div>
  
  
      </div>
      
      <div class="col-md-9">
        <div class="container">
          <div class="row bg-primary pt-2 pb-2 mb-3">
  
            <div class="col-md-2">
  
              <a class="btn btn-outline-light btn-sm   bg-light text-primary">Download</a>
  
            </div>
  
            <div class="col-md-5">
  
              <a class="btn btn-outline-light btn-sm   bg-light text-primary">Apply to Shortlisted Program</a>
  
            </div>
  
            <div class="col-md-3">
              <div class="form-check">
                <label class="form-check-label text-white mt-2">
                  <input type="checkbox" class="mr-2" value="">Shortlist all
                  
                </label>
  
              </div>
  
            </div>
  
          </div>
          <div class="row mt-4">
            
            <div class="col-md-5">
         
              <h6  ><b>Master of Information Technology</b></h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;<b>University :</b> University of Birmingham</li>
                <li class="list-group-item"><i class="fa fa-globe "></i>&nbsp;<b>Country :</b> United Kingdom</li>
                <!-- <li class="list-group-item"><i class="fa fa-clock"></i>&nbsp;<b>Duration :</b> 24 Months(s)</li> -->
                  <li class="list-group-item"><i class="fa fa-user-plus"></i>&nbsp;<b>Intakes :</b> 
                  <button class="btn btn-sm btn-dark ml-1">  Jul </button></li>
                  <!-- <button class="btn btn-sm btn-dark ml-1">  Nov </button></li>
                  <button class="btn btn-sm btn-dark ml-1">  SEP </button></li> -->
                <li class="list-group-item"><i class="fa fa-money "></i>&nbsp;<b>Yearly Tuition Fees :</b> &#163; 20970</li>
              </ul>
            
            </div>
  
            <div class="col-md-3 mt-5 pt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-clock-o"></i>&nbsp;<b>Duration :</b> 24 M</li>
              </ul>
            </div>
            
            <div class="col-md-2">
  
              <div class="row pt-1 pl-3 ">
                <div id="details"><i class="fa fa-bars"></i> View Details</div>
                <button type="button" class="btn btn-sm btn-primary mt-5">Apply Now</button>
              </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
             
             
            <div class="col-md-2 ">
              <div class="row pt-1 pl-3">
                
                <div class="form-check">
                  <label class="form-check-label mt-1">
                    <input type="checkbox" class="mr-2"  value="">Shortlist all
                  </label>
                </div><br>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="mr-2" value="">Compare
                  </label>
                </div>
  
              </div>
            </div>
  
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  