<div id="student_profile">
  <div class="student-profile-wrapper">
    <div class="profile-container">
      <div class="profile-card">
        <div class="profile-card-wrapper">
          <div class="profile-img-wrapper">
            <div class="profile-img">
              <i class="fa fa-camera" aria-hidden="true"></i>
              <img src="assets/images/coventry.png" alt="profile-avatar" />
            </div>
          </div>
          <div class="profile-info">
            <div class="user-name">
              <h5>
                Ganesh Pathala
                <i class="fa fa-pencil fa-md" aria-hidden="true"></i>
              </h5>
            </div>
            <div class="user-info">
              <div class="user-info-col">
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Visakhapatnam
                </p>
                <p>
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  Fresher
                </p>
              </div>
              <div class="user-info-col">
                <p>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  8885631240
                  <span>verify</span>
                </p>
                <p>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  ganesh@macsof.com
                  <span>verify</span>
                </p>
              </div>
            </div>
            <div class="user-profile-bar">
              <div class="profile-bar-header">
                <small>Profile Strength(Below Average)</small>
                <span>60%</span>
              </div>
              <div class="progress border" style="height: 10px;">
                <div
                  class="progress-bar bg-white"
                  style="width: 60%; height: 10px;"
                ></div>
              </div>
            </div>
          </div>
          <div class="pending-actions">
            <h5>7 Pending Action(s)</h5>
            <ul>
              <li>Verify Mobile Number</li>
              <li>Verify Email</li>
              <li>Add Resume</li>
            </ul>
            <p>View All</p>
          </div>
        </div>
      </div>
      <div class="profile-update-cards">
        <div class="profile-update-cards-wrapper">
          <div class="side-quick-links">
            <p>Quick Links</p>
            <ul>
              <li (click)="scrollToEle(attach_resume)">
                Attach Resume <span>Upload</span>
              </li>
              <li (click)="scrollToEle(resume_headline)">Resume Headline</li>
              <li (click)="scrollToEle(key_skills)">Key Skills</li>
              <li (click)="scrollToEle(student_education)">
                Education <span>Add</span>
              </li>
              <li (click)="scrollToEle(student_projects)">Projects</li>
            </ul>
          </div>
          <div class="update-cards-wrapper">
            <div class="edit-card attach-resume-card" #attach_resume>
              <p>
                Attach Resume
                <i
                  class="fa fa-pencil"
                  aria-hidden="true"
                  (click)="onPopUpModal()"
                ></i>
              </p>
            </div>
            <div class="edit-card resume-headline-card" #resume_headline>
              <p>Resume Headline</p>
            </div>
            <div class="edit-card key-skills-card" #key_skills>
              <p>Key Skills</p>
            </div>
            <div class="edit-card education-card" #student_education>
              <p>Education</p>
            </div>
            <div class="edit-card projects-card" #student_projects>
              <p>Projects</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal-popup" *ngIf="isModal">
      <div class="modal-wrapper">
        <p>Modal testing</p>
        <i class="fa fa-times" aria-hidden="true" (click)="onCloseModal()"></i>
      </div>
    </div>
  </div>
</div>
