@import "../../../../../assets/responsive";

#student_profile {
  .student-profile-wrapper {
    padding: 10px 0;
    .profile-container {
      max-width: 990px;
      width: 990px;
      margin: auto;
      .profile-card {
        background-color: #4a90e2;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05),
          0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        margin: 0.5rem 0 1rem;
        color: #fff;

        .profile-card-wrapper {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          .profile-img-wrapper {
            flex-basis: 6%;
            position: relative;
            .profile-img {
              width: 59px;
              max-width: 59px;
              height: 59px;
              i {
                position: absolute;
                top: -7px;
                right: -12px;
                z-index: 2;
                background: #fff;
                color: #4a90e2;
                padding: 7px;
                border-radius: 50%;
              }
              img {
                width: 100%;

                border-radius: 50%;
                position: absolute;
                z-index: 1;
              }
            }
          }
          .profile-info {
            display: flex;
            flex-direction: column;
            flex-basis: 55%;
            .user-name {
              h5 {
                font-weight: 700;
                margin-bottom: 20px;
                i {
                  cursor: pointer;
                  &:hover {
                    font-size: x-large;
                  }
                }
              }
            }
            .user-info {
              display: flex;
              justify-content: space-between;
              .user-info-col {
                flex-basis: 50%;
                p {
                  margin-bottom: 0.5rem;
                  i {
                    padding-right: 10px;
                  }
                  span {
                    background: #fff;
                    color: #4a90e2;
                    padding: 2px 15px;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 1px;
                    float: right;
                    border-radius: 2px;
                  }
                }
              }
            }
            .user-profile-bar {
              margin-top: 5px;
              .profile-bar-header {
                display: flex;
                justify-content: space-between;
              }
            }
          }
          .pending-actions {
            flex-basis: 33%;
            background: #1a65c9;
            padding: 15px 20px;
            cursor: pointer;
            h5 {
              font-weight: 700;
            }
            ul {
              li {
                font-size: 14px;
              }
            }
            p {
              margin-bottom: 0.5rem;
              text-transform: uppercase;
              text-align: right;
              font-weight: 700;
            }
          }
        }
      }
      .profile-update-cards {
        .profile-update-cards-wrapper {
          display: flex;
          justify-content: space-between;
          .side-quick-links {
            width: 240px;
            max-height: 498px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05),
              0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0;
            position: sticky;
            top: 15px;
            p {
              margin: 30px 18px 0;
              border-bottom: 1px solid #eee;
              padding-bottom: 12px;
              font-weight: 600;
              font-size: 20px;
              color: #666;
            }
            ul {
              li {
                padding: 10px 20px;
                color: #666;
                cursor: pointer;
                font-size: 13px;
                span {
                  float: right;
                  text-transform: uppercase;
                  color: #4a90e2;
                  font-weight: 500;
                  font-size: 14px;
                }
                &:hover {
                  color: #09c;
                }
              }
            }
          }
          .update-cards-wrapper {
            .edit-card {
              box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05),
                0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
              border-radius: 0;
              width: 731px;
              margin-bottom: 20px;
            }
            .attach-resume-card {
              height: 730px;
            }
            .resume-headline-card {
              height: 120px;
            }
            .key-skills-card {
              height: 150px;
            }
            .education-card {
              height: 120px;
            }
            .projects-card {
              height: 387px;
            }
          }
        }
      }
    }

    .modal-popup {
      position: absolute;
      top: 67px;
      left: 0;
      z-index: 1100;
      background: #000;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      .modal-wrapper {
        background: #fff;
        width: 50%;
        margin: auto;
        height: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1117;
      }
      p {
        color: #000;
      }
    }
  }
}
