<div id="student_profile">
  <div class="student-profile-wrapper">
    <div class="profile-container">
      <div class="profile-card">
        <div class="profile-card-wrapper">
          <div class="profile-img-wrapper">
            <div class="profile-img">
              <i class="fa fa-camera" aria-hidden="true"></i>
              <img src="assets/images/coventry.png" alt="profile-avatar" />
            </div>
          </div>
          <div class="profile-info">
            <div class="user-name">
              <h5>
                Ganesh Pathala
                <i class="fa fa-pencil fa-md" aria-hidden="true"></i>
              </h5>
            </div>
            <div class="user-info">
              <div class="user-info-col">
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Visakhapatnam
                </p>
                <p>
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  Fresher
                </p>
              </div>
              <div class="user-info-col">
                <p>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  8885631250
                  <span>verify</span>
                </p>
                <p>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  ganesh@macsof.com
                  <span>verify</span>
                </p>
              </div>
            </div>
            <div class="user-profile-bar">
              <div class="profile-bar-header">
                <small>Profile Strength(Below Average)</small>
                <span>60%</span>
              </div>
              <div class="progress border" style="height: 10px;">
                <div class="progress-bar bg-white" style="width: 60%; height: 10px;"></div>
              </div>
            </div>
          </div>
          <div class="pending-actions">
            <h5>7 Pending Action(s)</h5>
            <ul>
              <li>Verify Mobile Number</li>
              <li>Verify Email</li>
              <li>Add Resume</li>
            </ul>
            <p>View All</p>
          </div>
        </div>
      </div>
      <div class="profile-update-cards">
        <div class="profile-update-cards-wrapper">
          <div class="side-quick-links">
            <p>Quick Links</p>
            <ul>
              <li (click)="scrollToEle(attach_resume)">
                Attach Resume <span>Upload</span>
              </li>
              <li (click)="scrollToEle(resume_headline)">Resume Headline</li>
              <li (click)="scrollToEle(key_skills)">
                Other Skills Set <span>Add</span>
              </li>
              <li (click)="scrollToEle(employment)">
                Employment <span>Add</span>
              </li>
              <li (click)="scrollToEle(student_education)">
                Education <span>Add</span>
              </li>
              <li (click)="scrollToEle(student_education)">
                Upload documents <span>Add</span>
              </li>
              <li (click)="scrollToEle(student_education)">
                Preferences<span>Add</span>
              </li>
              <li (click)="scrollToEle(student_education)">
                Achievements <span>Add</span>
              </li>
              <li (click)="scrollToEle(student_projects)">
                Documents <span>Add</span>
              </li>
            </ul>
          </div>
          <div class="update-cards-wrapper">
            <div class="edit-card attach-resume-card" #attach_resume>
              <div class="attach-resume-heading">
                <h6>
                  Attach Resume
                  <i class="fa fa-pencil" aria-hidden="true" (click)="onPopUpModal()"></i>
                </h6>
                <p>Resume is the most important document recruiters look for. Recruiters generally
                  do not look at profiles without resumes.</p>
              </div>
              <div class="upload-file-section">
                <!-- class="form-group" -->
                <div>
                  <button type="button" (click)="fileInput.click()">
                    <span>UPLOAD RESUME</span>
                    <input #fileInput type="file" id="file" style="display: none;">
                  </button>
                </div>
                <p>Supported Formats: doc,docx,rtf,pdf,upto 2 MB</p>
              </div>
              <div class="file-upload-bottom">
                <div class="seperator">
                  <span></span>
                  or
                  <span></span>
                </div>
                <div class="seperate-text">
                  If you do not have a resume document, you may write your brief professional profile
                  <a href="#">here</a>
                </div>
              </div>
            </div>
            <div class="edit-card resume-headline-card" #resume_headline>
              <div class="common-edit-card-styles">
                <div class="card-left-part">
                  <h6>Resume Headline &nbsp;&nbsp;<span>Add 68%</span></h6>
                  <p>ADD RESUME HEADLINE</p>
                </div>
                <p>It is the first thing recruiters notice in your profile. Write concisely what makes
                  you unique and right person for the job you are looking for.
                </p>
              </div>
            </div>
            <div class="edit-card key-skills-card" #key_skills>
              <div class="common-edit-card-styles">
                <div class="card-left-part">
                  <h6>Key Skills &nbsp;&nbsp;<span>Add 8%</span></h6>
                  <p>ADD KEY SKILLS</p>
                </div>
                <p>
                  Tell recruiters what you know or what you are known for e.g. Direct Marketing, Oracle,
                  Java etc. We will send you job recommendations based on these skills.
                </p>
              </div>
            </div>
            <div class="edit-card education-card" #student_education>
              <div class="common-edit-card-styles">
                <div class="card-left-part">
                  <h6>Education &nbsp;&nbsp;<span>Add 10%</span></h6>
                  <p>ADD EDUCATION</p>
                </div>
                <p>
                  Please mention your education details. You can add details about school, college and degree.
                  This will increase your profile strength.
                </p>
              </div>
              <div class="education-details-links">
                <ul>
                  <li>Add Doctorate/PhD</li>
                  <li>Add Masters/Post-Graduation</li>
                  <li>Add Graduation/Diploma</li>
                  <li>Add 12th</li>
                  <li>Add 10th</li>
                  <li>Add Below 10th</li>
                </ul>
              </div>
            </div>
            <div class="edit-card projects-card" #student_projects>
              <div class="common-edit-card-styles">
                <div class="card-left-part">
                  <h6>Projects</h6>
                  <p>ADD PROJECT</p>
                </div>
                <p>
                  Add details about projects yuo have done in college, internship or at work.
                </p>
              </div>
            </div>
            <div class="edit-card projects-card" #employment>
              <div class="common-edit-card-styles">
                <div class="card-left-part">
                  <h6>Employment &nbsp;&nbsp;<span>Add 18%</span></h6>
                  <p>ADD EMPLOYMENT</p>
                </div>
                <p>
                  Mention your employment details including your current and previous company work experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal-popup" *ngIf="isModal">
      <div class="modal-wrapper">
        <p>Modal testing</p>
        <i class="fa fa-times" aria-hidden="true" (click)="onCloseModal()"></i>
      </div>
    </div>
  </div>
</div>