<section>
  <div class="container-fluid">
    <div class="candidate-search">
      <h3>Candidate Search</h3>
      <div>
        <div class="details">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                            <img src="./assets/images/user.jpg" />
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a
                            href="javascript:void(0)"
                            (click)="openCandidateProfile()"
                            class="view-profile"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                            <img src="./assets/images/user.jpg" />
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a
                            href="javascript:void(0)"
                            (click)="openCandidateProfile()"
                            class="view-profile"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                            <img src="./assets/images/user.jpg" />
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a
                            href="javascript:void(0)"
                            (click)="openCandidateProfile()"
                            class="view-profile"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                              <img src="./assets/images/user.jpg" />
                            </div>

                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a
                              href="javascript:void(0)"
                              (click)="openCandidateProfile()"
                              class="view-profile"
                              >View Profile</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                            <img src="./assets/images/user.jpg" />
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a
                            href="javascript:void(0)"
                            (click)="openCandidateProfile()"
                            class="view-profile"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                              <img src="./assets/images/user.jpg" />
                            </div>

                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a
                              href="javascript:void(0)"
                              (click)="openCandidateProfile()"
                              class="view-profile"
                              >View Profile</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                            <img src="./assets/images/user.jpg" />
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a
                            href="javascript:void(0)"
                            (click)="openCandidateProfile()"
                            class="view-profile"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                              <img src="./assets/images/user.jpg" />
                            </div>

                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a
                              href="javascript:void(0)"
                              (click)="openCandidateProfile()"
                              class="view-profile"
                              >View Profile</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                            <img src="./assets/images/user.jpg" />
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a
                            href="javascript:void(0)"
                            (click)="openCandidateProfile()"
                            class="view-profile"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                              <img src="./assets/images/user.jpg" />
                            </div>

                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a
                              href="javascript:void(0)"
                              (click)="openCandidateProfile()"
                              class="view-profile"
                              >View Profile</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- personal Information -->
