<section>
  <div class="container-fluid">
    <div class="candidate-search">
      <h3>Candidate Search</h3>
      <div>
        <div class="details">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                              <img src="./assets/images/user.jpg">
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a href="#" class="view-profile">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                                <img src="./assets/images/user.jpg">
                            </div>
  
                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a href="#" class="view-profile">View Profile</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                              <img src="./assets/images/user.jpg">
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a href="#" class="view-profile">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                                <img src="./assets/images/user.jpg">
                            </div>
  
                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a href="#" class="view-profile">View Profile</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                              <img src="./assets/images/user.jpg">
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a href="#" class="view-profile">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                                <img src="./assets/images/user.jpg">
                            </div>
  
                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a href="#" class="view-profile">View Profile</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                              <img src="./assets/images/user.jpg">
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a href="#" class="view-profile">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                                <img src="./assets/images/user.jpg">
                            </div>
  
                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a href="#" class="view-profile">View Profile</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="card">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="user-details">
                          <div class="user-image">
                              <img src="./assets/images/user.jpg">
                          </div>

                          <div class="person-det">
                            <h6>Sam Bennett</h6>
                            <p>Agriculture Engineering</p>
                            <p>M.Tech</p>
                            <p>5+ Years Experience</p>
                            <p>Pending</p>
                            <!-- <p></p> -->
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4 profile-div">
                        <div class="profile-link">
                          <a href="#" class="view-profile">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <div>
                    <div class="card">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="user-details">
                            <div class="user-image">
                                <img src="./assets/images/user.jpg">
                            </div>
  
                            <div class="person-det">
                              <h6>Sam Bennett</h6>
                              <p>Agriculture Engineering</p>
                              <p>M.Tech</p>
                              <p>5+ Years Experience</p>
                              <p>Pending</p>
                              <!-- <p></p> -->
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-md-4 profile-div">
                          <div class="profile-link">
                            <a href="#" class="view-profile">View Profile</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- personal Information -->
<section class="profile-page">
  <div class="container-fluid">
    <div class="col-md-12">
      <h4 class="pro-head">Welcome to the application of </h4>
      <p class="pro-head1">Mr. Suresh Pathivada</p>
      
      <div>
        <div class="card">
          <h3>Personal Information</h3>
          
          <div class="profile-details">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                    <div class="det">
                      <label>Name</label>
                      <p>Suresh Pathivada</p>
                    </div>
                </div>
  
                <div class="col-md-3">
                  <div class="det">
                    <div>
                      <label>Student Mail Id</label>
                      <p>Suresh@gmail.com</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="det">
                    <div>
                      <label>Date Of Birth</label>
                      <p>02/07/1996</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="det">
                    <div>
                      <label>Gender</label>
                      <p>Male</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="det">
                    <label>Martial Status</label>
                    <p>No</p>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="">
                  <div class="det">
                    <label>Phone No</label>
                    <p>987654321</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="">
                  <div class="det">
                    <label>Address</label>
                    <p>02/07/1996</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

          <h3>Academic Qualifaction</h3>

          <div class="profile-details">
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-12">
                  <div class="det">
                    <label>GRADE 10TH OR EQUIVALENT</label>
                    <p>Board of secondary Education, AP, India</p>
                  </div>
                </div>


                <div class="col-md-3">
                    <div class="det">
                      <label>Name</label>
                      <p>Suresh Pathivada</p>
                    </div>
                </div>
  
                <div class="col-md-3">
                  <div class="">
                    <div class="det">
                      <label>Student Mail Id</label>
                      <p>Suresh@gmail.com</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="">
                    <div class="det">
                      <label>Date Of Birth</label>
                      <p>02/07/1996</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="">
                    <div class="det">
                      <label>Gender</label>
                      <p>Male</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="det">
                    <label>Martial Status</label>
                    <p>No</p>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="">
                  <div class="det">
                    <label>Phone No</label>
                    <p>987654321</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="">
                  <div class="det">
                    <label>Address</label>
                    <p>02/07/1996</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
 

          <h3>Work Experience</h3>

          <div class="profile-details">
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-12">
                  <div class="det">
                    <label>GRADE 10TH OR EQUIVALENT</label>
                    <p>Board of secondary Education, AP, India</p>
                  </div>
                </div>


                <div class="col-md-3">
                    <div class="det">
                      <label>Name</label>
                      <p>Suresh Pathivada</p>
                    </div>
                </div>
  
                <div class="col-md-3">
                  <div class="">
                    <div class="det">
                      <label>Student Mail Id</label>
                      <p>Suresh@gmail.com</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="">
                    <div class="det">
                      <label>Date Of Birth</label>
                      <p>02/07/1996</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-3">
                  <div class="">
                    <div class="det">
                      <label>Gender</label>
                      <p>Male</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="det">
                    <label>Martial Status</label>
                    <p>No</p>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="">
                  <div class="det">
                    <label>Phone No</label>
                    <p>987654321</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="">
                  <div class="det">
                    <label>Address</label>
                    <p>02/07/1996</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>



        </div>
      </div>


    </div>
  </div>
</section>