#border{
    border:  1px solid #dcdcdc;
    padding: 8px 5px; 
}
 
.list-group-item {
    border: none !important;
}

.list-group-item{
    line-height: 2px !important;
}

.list-group-item {
    line-height: 2px !important;
     
    padding: 10px 17px;
 
    
    font-size: 14px !important;

}