.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  i,
  svg {
    font-size: 1.25rem;
  }

  &.icon-lg {
    i,
    svg {
      font-size: 1.625rem;
    }
  }

  &.icon-sm {
    i,
    svg {
      font-size: 0.875rem;
    }
  }

  svg {
    width: 30px;
    height: 30px;
  }
}
.dashboard-values {
  font-size: 20px;
}

.card-title {
  font-size: 13px;
}
.date-filter-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  .date-range-filter {
    margin-top: 10px;
    .graph-date-input {
      margin-right: 25px;
    }

    .get-results-btn {
      color: #fff;
      background-color: #fb850a;
      padding: 5px 15px;
      border-radius: 5px;
      margin-right: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
    }
  }
}
#candidate{
  letter-spacing: -1px;
}