  
<div class="bg-light border-right" id="sidebar-wrapper">
  <!--university-->
  <div class="sidebar-heading text-center">
      <button class="btn btn-primary btn-block" >University</button> 
  </div>

  <div class="list-group ">
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value=""> Monash University</label>
          </div>
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value=""> University of Adelaide</label>
           </div>
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value="" > Queensland University of Technology</label>
          </div>
  </div>
  <!--university-->
  <!--fee-->
 <div class="sidebar-heading text-center">
      <button class="btn btn-primary btn-block" >Fee</button> 
  </div>

  <div class="list-group ">
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value=""> 1,000 - 5,000 EUR/Year</label>
          </div>
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value=""> 5,000 - 10,000 EUR/Year</label>
           </div>
          <div class="checkbox">
              <label class="list-group-item"><input type="checkbox" value="" > 10,000 - 20,000 EUR/Year</label>
          </div>
  </div>
  <!--fee-->

  <!--fee-->
 <div class="sidebar-heading text-center">
  <button class="btn btn-primary btn-block" >Duration</button> 
</div>

<div class="list-group ">
      <div class="checkbox">
          <label class="list-group-item"><input type="checkbox" value=""> 1 Year</label>
      </div>
      <div class="checkbox">
          <label class="list-group-item"><input type="checkbox" value="">  1/1/2 Year</label>
       </div>
      <div class="checkbox">
          <label class="list-group-item"><input type="checkbox" value="" > 2 Year</label>
      </div>
</div>
<!--fee-->


</div>

