<div [ngStyle]="{ backgroundImage: 'url(./assets/images/search_counselor.jpg)' }">
  <div id="course">
    <div id="bgimg">
      <div class="container">
        <h3>
          Get Customised and Personalised Help to
          <span class="title1">APPLY & ENROLL</span> at Top Universities Abroad
        </h3>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <div class="hpsearchmain clearfix hpsearchmaintop" id="divout">
              <div class="hpsearchtogglebtn">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active "
                      data-toggle="tab"
                      href="#home"
                      id="searchbyeaxamScore  newtab"
                    >
                      <i
                        class="fa fa-list-alt hpprogramicon"
                        aria-hidden="true"
                      ></i>
                      Search by Exam Scores <span class="toggleor">OR</span></a
                    >
                  </li>
                  <li class="nav-item" >
                    <a
                      class="nav-link searchbyprog"
                      data-toggle="tab"
                      href="#menu1"
                      id="searchbyeaxamScore"
                    >
                      <i
                        class="fa fa-list-alt hpprogramicon"
                        aria-hidden="true"
                      ></i>
                      Search by Courses <span class="toggleor">OR</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link searchbyuniv newtab"
                      data-toggle="tab"
                      href="#menu2"
                      id="searchbyeaxamScore"
                    >
                      <i
                        class="fa fa-university hpprogramicon"
                        aria-hidden="true"
                      ></i>
                      Search by University
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Tab panes -->
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="container" id="containerbg">
        <div>
          <div class="tab-content">
            <div id="home" class="container tab-pane active tab-pane1">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">COUNTRY</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>USA</option>
                      <option>UK</option>
                      <option>Canada</option>
                      <option>Austrilia</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">DEGREE</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Masters</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">COURSES</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Engineering / Technology</option>
                      <option>Business / Management</option>
                      <option>Natural Sciences</option>
                      <option>Life Sciences</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">SPECIALIZATION</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Industrial / Manufacturing Engineering</option>
                      <option>Chemical Engineering</option>
                      <option>Environmental Science & Engineering</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sel1">APTITUDE TEST</label>
                    <select class="form-control" id="sel1">
                      <option>GRE</option>
                      <option>GMAT</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sel1"> &nbsp;</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="eg.300"
                      id="sel1"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sel1">ENGLISH TEST</label>
                    <select class="form-control" id="sel1">
                      <option>TOFEL</option>
                      <option>IELTS</option>
                      <option>PTE</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sel1"> &nbsp;</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="eg.120"
                      id="sel1"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sel1">GRADUATION %</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="eg.86"
                      id="sel1"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sel1">&nbsp;</label>
                    <select class="form-control" id="sel1">
                      <option>100%</option>
                      <option>10-CPGA</option>
                      <option>4-GPA</option>
                    </select>
                  </div>
                </div>
              </div>

              <button
                class="filtersearchbtn btn btn-md"
                (click)="onNavigateToStudentDashboard()"
              >
                Search
              </button>
            </div>
            <div id="menu1" class="container tab-pane fade tab-pane2">
              <br />
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">COUNTRY</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>USA</option>
                      <option>UK</option>
                      <option>Canada</option>
                      <option>Austrilia</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">DEGREE</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Masters</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">COURSES</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Engineering / Technology</option>
                      <option>Business / Management</option>
                      <option>Natural Sciences</option>
                      <option>Life Sciences</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">SPECIALIZATION</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Industrial / Manufacturing Engineering</option>
                      <option>Chemical Engineering</option>
                      <option>Environmental Science & Engineering</option>
                    </select>
                  </div>
                </div>
              </div>
              <button
                class="filtersearchbtn btn btn-md"
                (click)="onNavigateToStudentDashboard()"
              >
                Search
              </button>
            </div>
            <div id="menu2" class="container tab-pane fade tab-pane2">
              <br />
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">COUNTRY</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>USA</option>
                      <option>UK</option>
                      <option>Canada</option>
                      <option>Austrilia</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">DEGREE</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Masters</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">COURSES</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Engineering / Technology</option>
                      <option>Business / Management</option>
                      <option>Natural Sciences</option>
                      <option>Life Sciences</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="sel1">SPECIALIZATION</label>
                    <select class="form-control" id="sel1">
                      <option>Select</option>
                      <option>Industrial / Manufacturing Engineering</option>
                      <option>Chemical Engineering</option>
                      <option>Environmental Science & Engineering</option>
                    </select>
                  </div>
                </div>
              </div>

              <button
                class="filtersearchbtn btn btn-md"
                (click)="onNavigateToStudentDashboard()"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
