<div class="interested-universities">
  <div class="interested-university-card">
    <div class="university-details">
      <div class="university-image">
        <img src="../../../../../assets/images/Microsoftlogo.jpg" alt="">
      </div>
      <div class="inner-university-details">
        <h5 class="designation-name">Web Frontend Devloper</h5>
        <p><span>Microsoft</span> | <span>San Jose,USA</span></p>
      </div>
    </div>
    <div class="interested-university-footer">
      <p>Lorem</p>
      <p>Ipsum</p>
    </div>
  </div>
</div>