<section>
  <div>
    <div class="scholar-head">
      <div>
        <h3>Add Scholarship Details</h3>
      </div>
      <div>
        <a href="javascript:void(0)" (click)="onClose()">
          <span><i class="fa fa-times" aria-hidden="true"></i></span
        ></a>
      </div>
    </div>

    <div class="form-data">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div>
              <div class="form-group">
                <label for="exampleInputEmail1">Scholarship Name</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter Scholarship Name"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div>
              <div class="form-group">
                <label for="exampleInputEmail1">Information Link</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Information Link"
                />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div>
              <div class="form-group form-1">
                <label for="exampleInputEmail1">Scholarship Details</label
                ><br />
                <textarea
                  rows="5"
                  placeholder="Enter Scholarship Details"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="submit-btn">
          <button type="submit" class="btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
