<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <ul>
        <li>
          <a routerLink="search-program">Search Program</a>
        </li>
        <li>
          <a routerLink="manage-universities">Manage universities</a>
        </li>
        <li>
          <a routerLink="manage-student">Manage Student</a>
        </li>
        <li>
          <a routerLink="manage-application">Manage Application</a>
        </li>
        <li>
          <a routerLink="documents-upload">Document Upload</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>