<section>
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-8">
          <div class="upload-documents">
            <div class="card">
              <h3>Upload Documents</h3>
              <p>You can upload documents here...!</p>
      
              <div class="upload-doc">
                  
                <div class="total-documents">
                  <div class="docs">
                    <p>Resume.doc</p>
                    <div><i class="fa fa-trash"></i></div>
                  </div>

                  <div class="docs">
                    <p>Resume.doc</p>
                    <div><i class="fa fa-trash"></i></div>
                  </div>

                  <div class="docs">
                    <p>Resume.doc</p>
                    <div><i class="fa fa-trash"></i></div>
                  </div>
                </div>

                  <div class="submit-button">
                      <button>Upload Document</button>
                      <p>Support doc.pdf upto 2 mb</p>
                  </div>
              </div>
      
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>        
      </div>
    </div>
  </div>
</section>