<div class="managestudent">
  <div class="header text-center">
    <h3>Manage Students</h3>
    <button>Register New Student</button>
  </div>
  <div class="card p-3 mt-4 shadow" >
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Date Created">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <!-- <label for="sel1">Choose Status</label> -->
          <select class="form-control" id="sel1">
            <option>Choose Status</option>
            <option>active</option>
             
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>Choose Counselors</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Search By Keyword">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group search">
          <button class="form-control">Search</button>
        </div>
      </div>
    </div>
    <!-- table -->
    <div class="table-responsive">
      <table class="table border">
        <thead>
          <tr>
            <th>Date Created</th>
            <th>Student Name</th>
            <th>Email Address</th>
            <th>Mobile Number</th>
            <th>Nationality</th>
            <th>Application Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/08/2020</td>
            <td>Santhosh Saketh Varnasi</td>
            <td>santhossakth@gmail.com</td>
            <td>9632147850</td>
              <td>India</td>  
              <td><button class="d-flex"><i class="fa fa-paper-plane mr-2" aria-hidden="true"></i><span>1 Submitted</span></button></td>
            <td class="searchprogram"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search Program</td>
          </tr>
          <tr>
            <td>01/08/2020</td>
            <td>Santhosh Saketh Varnasi</td>
            <td>santhossakth@gmail.com</td>
            <td>9632147850</td>
              <td>India</td>  
              <td><button class="d-flex"><i class="fa fa-paper-plane mr-2" aria-hidden="true"></i><span>1 Submitted</span></button></td>
            <td class="searchprogram"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search Program</td>
          </tr>
          <tr>
            <td>01/08/2020</td>
            <td>Santhosh Saketh Varnasi</td>
            <td>santhossakth@gmail.com</td>
            <td>9632147850</td>
              <td>India</td>  
              <td><button class="saved d-flex"><i class="fa fa-floppy-o mr-3" aria-hidden="true"></i><span>1 Saved</span></button></td>
            <td class="searchprogram"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search Program</td>
          </tr>
          <tr>
            <td>01/08/2020</td>
            <td>Santhosh Saketh Varnasi</td>
            <td>santhossakth@gmail.com</td>
            <td>9632147850</td>
              <td>India</td>  
              <td><button class="d-flex">
                
                <i class="fa fa-paper-plane mr-2" aria-hidden="true"></i><span>1 Submitted</span></button></td>
            <td class="searchprogram"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search Program</td>
          </tr>
          <tr>
            <td>01/08/2020</td>
            <td>Santhosh Saketh Varnasi</td>
            <td>santhossakth@gmail.com</td>
            <td>9632147850</td>
              <td>India</td>  
              <td><button class="saved d-flex"><i class="fa fa-floppy-o mr-3" aria-hidden="true"></i><span>1 Saved</span></button></td>
            <td class="searchprogram">
              <span class="d-block"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Edit Program</span>
              <span class="d-block"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search Program</span>
              
            </td>
          </tr>
          <tr>
            <td>01/08/2020</td>
            <td>Santhosh Saketh Varnasi</td>
            <td>santhossakth@gmail.com</td>
            <td>9632147850</td>
              <td>India</td>  
              <td><button class="d-flex"><i class="fa fa-paper-plane mr-2" aria-hidden="true"></i><span>1 Submitted</span></button></td>
            <td class="searchprogram"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search Program</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
