.managestudent{
    margin-bottom: 10px;
    input,select{
        font-size: 12px;
    }
    .search{
        button{
            background-color: #0062cc;
            color: white;
            font-size: 12px;
        }
    }
    .header{
        h3{
            // text-align: center;
            border-bottom: 3px solid #FFA500;
            display: inline-block;
            color: #0062cc;
            font-weight: 700;
        }
        button{
            position: absolute;
            top: 5px;
            right: 17px;    
            border: 2px solid #0062cc;
            color: #0062cc;
            font-weight: 500;
            background-color: white;
        }
    }
    table{
        box-shadow: 1px 2px 3px 3px darkgrey;
        thead{
            font-size: 12px;
            background-color: aliceblue;
            color: cadetblue;
            text-transform: uppercase;
            th{
                padding: 18px;
            }
        }
        tbody{
            font-size: 13px;
            .searchprogram{
                color: cadetblue;
            }
            td{
                padding: 18px;
                button{
                    background: brown;
                    color: white;
                    width: 115px;
                    border: none;
                    // display: flex;
                    justify-content: start;
                    padding: 5px;
                    border-radius: 2px;
                    i{
                        margin-top: 4px;
                    }
                }
                .saved{
                    background-color: darkgoldenrod;
                }
            }
        }
    }
}