<div class="myuniversities">
  <div class="unicontainer">
  <div class="myuniversitiesheading">
    <h4 class="heading">MY UNIVERSITIES</h4>
    <br>
    <h6>MY UNIVERSITY LIST</h6>
  </div>
  <div class="mt-3">
   
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home"><i class="fa fa-university mr-2" aria-hidden="true"></i>University List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1"><i class="fa fa-graduation-cap mr-2" aria-hidden="true"></i>Applied List</a>
      </li>
      
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="tab-pane active">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>My Rank</th>
              <th>Univ Name</th>
              <th>Ranking Country</th>
              <!-- <th>Country</th> -->
              <th>Course Name</th>
              <th>Tution Fee</th>
              <th>Intake</th>
              <th>Action</th>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tbody>
          </table>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <!-- <li  class="ED-Suugestions">ED-Suugestions univ list</li> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>App#</th>
                <th>Date Created</th>
                <th>Univ Name</th>
                <th>Country</th>
                <th>Intake</th>
                <th>Course Name</th>
                <th>Application Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12345</td>
                <td>07/14/20</td>
                <td>University of Hertfordshire</td>
                <td>United Kingdom</td>
                <td>jan</td>
                <td>MSc Proj Management</td>
                <td class="d-flex">
                  <button>Under Review</button>
                  <a  class="notification">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="badge">3</span>
                  </a>
                </td>
              </tr>
              <tr class="borderbottom">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                  <div class="rightsymbol">
                    <i class="fa fa-check-circle i" aria-hidden="true"></i><hr class="i">
                  <i class="fa fa-check-circle i" aria-hidden="true"></i><hr>
                  <li>3</li><hr>
                  <li>4</li>
                  </div>
                  
                </td>
              </tr>
              
              <!-- <tr>
                
                <td colspan="5">suresh</td>
              </tr> -->
              <tr>
                <td>34251</td>
                <td>07/14/20</td>
                <td>University of Hertfordshire</td>
                <td>United Kingdom</td>
                <td>jan</td>
                <td>MSc Proj Management</td>
                <td>
                  <button>Application to Univ</button>
                </td>
              </tr>
              <tr class="borderbottom">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                  <div class="rightsymbol">
                    <i class="fa fa-check-circle i" aria-hidden="true"></i><hr class="i">
                  <i class="fa fa-check-circle i" aria-hidden="true"></i><hr>
                  <li>3</li><hr>
                  <li>4</li>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
