<section class="footer-section">
  <div class="container footer-container">
    <div class="footer">
      <div>
        <ul class="footer-links">
          <li>
            <a href="#">My Dashboard</a>
          </li>
          <li>
            <a href="#">Universities</a>
          </li>
          <li>
            <a href="#">Manage Applications</a>
          </li>
          <li>
            <a href="#">Scholarships</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <!-- <li>
            <a href="#">My Dashboard</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
