<section class="footer-section">
  <div class="container footer-container">
    <div class="footer">
      <div>
        <ul class="footer-links">
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">How It Works</a>
          </li>
          <li>
            <a href="#">Admissions Advising</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">terms of use</a>
          </li>
          <li>
            <a href="#">copyright@2020</a>
          </li>
          <!-- <li>
            <a href="#">My Dashboard</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
