<div class="favourite-universities">
  <div class="university-card">
    <div class="favourite-icons">
      <div class="exchange-icon">
        <i class="fa fa-exchange"></i>
      </div>
      <div class="fav-icon">
        <i class="fa fa-heart-o"></i>
      </div>
    </div>
    <div class="university-name">
      <img src="../../../../../assets/images/coventry.png" alt="">
    </div>
    <div class="course-name-details">
      <h4>Data Science and Computational Intelligence Msc</h4>
      <ul class="detailed-duration">
        <li>Postgraduate</li>
        <li>Full time</li>
        <li>1years</li>
      </ul>
    </div>
    <div class="fee-structure">
      <div class="price-per-year">
        <h4>INR 15,698,158/ year</h4>
      </div>
      <div class="university-country">
        <p>United Kingdom</p>
      </div>
    </div>
  </div>
</div>
