<div class="scolarships">
  <div class="">
    <div class="scolarship-header">
      <h4>Scolarships</h4>
    </div>
    <div class="scolarship-matches">
      <!-- <div class="scolarship-matches-title">
        <p>My Scholarship matches</p>
      </div> -->
      <div class="scolarship-table">
        <table class="table">
          <thead>
            <tr>
              <th>S.no</th>
              <th >Name of the scolarship</th>
              <th>eligibility</th>
              <th>information link</th>
              <th>next step</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Aberystwyth International Scholarship</td>
              <td>Selection will be on the basis of academic performance and the applicant’s suitability for their proposed course.</td>
              <td>By the end of 20th August 2019</td>
              <td><button class="apply-btn">Apply</button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Aberystwyth International Scholarship</td>
              <td>Selection will be on the basis of academic performance and the applicant’s suitability for their proposed course.</td>
              <td>By the end of 20th August 2019</td>
              <td><button class="apply-btn">Apply</button></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Aberystwyth International Scholarship</td>
              <td>Selection will be on the basis of academic performance and the applicant’s suitability for their proposed course.</td>
              <td>By the end of 20th August 2019</td>
              <td><button class="apply-btn">Apply</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>