//  ********* Media Queries For Large Desktops  ************

$for-desktop: 1200px;

@mixin desktop {
  @media screen and (min-width: #{ $for-desktop }) {
    @content;
  }
}
//  ********* Media Queries For Desktop  ************

$for-desktop: 1200px;

@mixin desktop {
  @media screen and (max-width: #{ $for-desktop }) {
    @content;
  }
}

//  ********* Media Queries For Tab  ************

$tab: 992px;

@mixin tab {
  @media screen and (max-width: #{ $tab }) {
    @content;
  }
}

//  ********* Media Queries For Mobile  ************

$mobile: 768px;

@mixin mobile {
  @media screen and (max-width: #{ $mobile }) {
    @content;
  }
}