/* You can add global styles to this file, and also import other style files */
@import "assets/_variables.scss";
body {
  font-family: $global-font-family;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: $color;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}
