<div class="register">
  <div class="container">
    <!-- <div class="logo">
      <img src="../../../../assets/images/register-logo.png" alt="">
    </div> -->
    
    <div class="sign-up-form">      
      <div class="col-md-8">
        <div class="create-profile-title">
          <p>create your profile</p>
        </div>
        <p>Sign up and you'll be on your way towards universities and scholarships that are right for you.</p>
        <form>
          <div class="col-md-12 select">
            <select class="custom-select">
              <option selected>Select Education</option>
              <option value="1">Interested to Pursue Under Graduation</option>
              <option value="2">Interested to Pursue Post Graduation</option>
              <option value="3">Working Professional</option>
            </select>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email address">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Mobile Number">
                </div>
              </div>
            </div>
             <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Create Password">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <select class="custom-select">
                  <option selected>Interest to study</option>
                  <option value="1">Australia</option>
                  <option value="2">London</option>
                  <option value="3">USA</option>
                </select>
              </div>
              <div class="col-md-6">
                <select class="custom-select">
                  <option selected>Select Major</option>
                  <option value="1">Accounts, Banking And Finance</option>
                  <option value="2">Aerospace And Aeronautics</option>
                  <option value="3">Agriculture And Animal Husbandry</option>
                </select>
              </div>
            </div>
          </div>
         <p class="policy">By submitting, you agree to our <a href="#">Terms</a> and that you have read and understood our <a href="#">Privacy Policy</a></p>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
