<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 sticky-div p-0">
      <div class="university-menu">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="dashboard">
            <span><i class="fa fa-dashboard"></i></span>&nbsp;&nbsp;<a >DashBoard</a>
          </li>
          <li [routerLinkActive]="['active']" routerLink="upload_information">
            <span><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>&nbsp;&nbsp;<a >Upload Information</a>
          </li>
          <li [routerLinkActive]="['active']" routerLink="candidate-search">
            <span><i class="fa fa-user-o"></i></span>&nbsp;&nbsp;<a>Candidate Search</a>
          </li>
          <li [routerLinkActive]="['active']" routerLink="manage-students">
            <span><i class="fa fa-pencil"></i></span>&nbsp;&nbsp;<a>Manage Students</a>
          </li>
          <li [routerLinkActive]="['active']" routerLink="documents-upload">
            <span><i class="fa fa-file" aria-hidden="true"></i></span>&nbsp;&nbsp;<a>Document Upload</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
