<div class="container">
  <div class="row mt-5">
   <div class="col-md-4"><h5>University Of Hertfordshire</h5></div>
   <div class="col-md-3"><h5>Students Awaiting </h5></div>
   <div class="col-md-2"><h5>Potential Pool </h5></div>

   <div class="col-md-3">
    <button type="button" class="btn btn-success btn-block waves-effect waves-light">1500</button>
   </div>

  </div>


  <div class="row mt-3">
     <div class="col-md-3">

       <button type="button" class="btn btn-primary btn-block">ELIGIBLE CANDIDATES</button>
          <br><span><h4 class="text-center">500</h4></span>
       </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block waves-effect waves-light">APPLICATIONS </button>
        <br><span><h4 class="text-center">400</h4></span>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-block waves-effect waves-light">OFFER LETTERS </button>
          <br><span><h4 class="text-center">90</h4></span>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-block waves-effect waves-light">PAYMENTS</button>
          <br><span><h4 class="text-center">80</h4></span>
      </div>  
 </div>

   <div class="row mt-4">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="button" class="btn btn-success btn-block waves-effect waves-light">Conversion-88.8%
        </button>
      </div>
      <div class="col-md-4"></div>
   </div>
  
  <div>

    <h3 class="text-center mt-5 pt-3">Graph</h3>
  </div>
 
</div>